body{
    display: flex;
    flex-direction: column;
    background-color: white;
}

/* top container */
.top{
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* main whole container */
.main-cont{
    width: 20%;
    margin-right: 100px;
}

/* input text container */
.in-text{
    /* background-color: aquamarine; */
    margin-top: 10px;
    padding: 5px;
}

/* bottom maincontainer */
.bottom{
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-top: 50px;
    /* background-color: pink; */
}

/* add and remove container*/
.addRev-cont{
    display: flex;
    flex-direction: row;
    /* background-color: pink; */
    width: fit-content;
    margin-top: 10px;
}

/* add new column */
.add {
    padding: 10px;
    border: 1px solid #504c4b;
    border-radius: 20px;
    cursor: pointer;
    width: fit-content;
    margin-right: 235px;
  }

  /* remove column */
  .remove{
    padding: 10px;
    width: fit-content;
    border: 1px solid #504c4b;
    border-radius: 20px;
    cursor: pointer;
  }

  /* button hover */
  .remove:hover, .add:hover{
    background: #2691d9;
    color: #e9f4fb;
    transition: .5s;
  }